# <...> = required
# (...) = optional
# (mod hoster = https://github.com/almafa64/minecraft-mod-hoster)

TOKEN="<bot token>"
APP_ID="(application ID)" # set to enable slash commands
MC_CHANNEL="(discord channel ID to send change notifications to)" # set to automaticly send discord notifications to a channel
GUILD_ID="(discord server ID)" # set to register slash commands only in one server instead of globally (way faster register time)
PORT="(query port)" # set to change query port, default = 25565
HOST="(mc server ip/domain)" # set to change address of minecraft server, default = 127.0.0.1

# Don't need to set both, prefer HOSTER_BRANCH_PATH if you have mod hoster 
HOSTER_BRANCH_PATH="(path to hoster's branch folder which is used for the server)" # checks mod changes in mod hoster's branch folder (only works if program has read permission to the folder)
SERVER_MODS_PATH="(path to server's mods folder)" # checks mod changes in server's mods folder (only works if program has read permission to the folder)